.carousel_item img {
  width: 240px;
  height: 140px;
  /* aspect-ratio: 16 / 9; */
}

.inner_carousel {
  overflow-x: scroll;
}

.inner_carousel::-webkit-scrollbar {
  width: 0px;
}

@media (width > 768px) {
  .carousel_item img {
    width: 470px;
    height: 230px;
  }
}

@media (width > 1200px) {
  .carousel {
    max-width: calc(100vw - 210px);
  }
}

.icon:hover {
  cursor: pointer;
}
